@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

/* reset */
* {
   margin: 0;
   padding: 0;
}

/* 테스트 화면용 */
.body {
   background-color: #ff9;
}
.wrap {
   margin: 50px;
}

/* card design */
.card {
   width: 300px;
   border: 1px solid rgba(0, 0, 0, 0);
   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0);
   transition: all 0.5s;
   margin-bottom: 20px; /* 테 후 삭 */
}
.card:hover {
   border: 5px solid rgba(245, 111, 111, 0.5);
   box-shadow: 0px 0px 10px rgba(245, 111, 111, 0.5);
   transition: all 1s;
}

.card .card__thumbnail {
   /* background-color: #ff6; */
   overflow: hidden;
}
.card .card__thumbnail a {
   /* 부모의 너비를 따르기 위해서 */
   display: block;
}
.card .card__thumbnail a img {
   /* 부모의 너비를 따르기 위해서 */
   display: block;
   /* 부모의 너비를 따르면서 자신의 원래 크기보다는 커지지 말아라 */
   /* max-height: 100%; */
   /* 부모의 너비를 따라라 */
   /* height를 생략하면 원래 이미지의 가로세로 비율이 유지, auto가 기본값  */
   width: 100%;
   /* 호버 취소시 호버효과에서 원상복귀되는 시간 설정 */
   transition: all 0.5s;
}
.card:hover .card__thumbnail a img {
   /* 호버시 효과, transition은 scale효과를 100%적용시키는데 걸리는 시간설정 */
   transform: scale(1.3);
   transition: all 1s;
}
.card .card__description {
   padding: 1rem 0.8rem;
   background-color: #fff;
   font-family: "Noto Sans KR", sans-serif;
   border: 1px solid #efefef;
}
.card .card__description .card__title {
   margin-bottom: 0.8rem;
   font-size: 1.5rem;
   font-weight: 600;
}
.card .card__description .card__spec {
}
