@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

/* reset */
* {
   margin: 0;
   padding: 0;
}

ul,
ol,
li {
   list-style: none;
}

/* test */
body > div {
   margin: 50px;
}

/* common */
body,
code {
   font-size: 13px;
   font-family: Arial, "Apple SD Gothic Neo", "Noto Sans KR", "맑은 고딕",
      "malgun gothic", "돋움", "dotum", sans-serif;
   color: #000;
   background: #fff;
}

/* product-listmain */

/* html 구조
<div class="ec-base-product xans-prodcut-listmain">
  <ul class="prdList grid4"> 
  <li>
    <div class="prdList__item">
      <div class="thumbnail">
*/
.ec-base-product {
}
.ec-base-product .prdList {
   /* li를 display: inline-block; 생기는 여배개을 없애기 위해 */
   font-size: 0;
   line-height: 0;
}
.ec-base-product .prdList li {
   border: 1px solid #000; /*테스트용*/
   /* li 옆 다른 li오게 하기위해 인라인블록 */
   display: inline-block;
   /* .ec-base-product .prdList에 생기는 여백을 없애기 위해서 클자크기 클자높이를 0으로 한 것을 작업하기 위해 원상복구 */
   font-size: 13px;
   line-height: 1;
}

/* 메인분류 상품목록 단 처리 */
.ec-base-product .prdList.gird2 li {
   width: 50%;
}
.ec-base-product .prdList.gird3 li {
   width: 33.33%;
}
.ec-base-product .prdList.gird4 li {
   width: 25%;
}
.ec-base-product .prdList.gird5 li {
   width: 20%;
}

.ec-base-product .prdList .prdList__item {
   margin: 0 10px;
}

/* 썸네일 */
.ec-base-product .prdList .thumbnail {
   border: 1px solid #f00; /*테삭*/
   /* .ec-base-product .prdList .thumbnail .likebutton{}의 기준요소*/
   position: relative;
}
.ec-base-product .prdList .thumbnail > a {
}
.ec-base-product .prdList .thumbnail > a > img {
   /* 1. 원래 이미지보다 커지지 않으면서 부모의 너비를 따르게한다. */
   /* max-width: 100%; */
   /* 2. 무조건 부모의 너비를 따르게한다. */
   width: 100%;
}

/* likebutton 기능 요구 
1. 기존의 likebutton에 지정된 이미지 표시x
-> .likebutton img{}
2. 그 자리에 like 텍스트 표시
3. .like 테긋트 좋아요 누적수가 표시
-> .likebutton strong{}
*/
.ec-base-product .prdList .thumbnail .likeButton::before {
   content: "Like";
   font-size: 12px;
   display: block;
   line-height: 1;
}
.ec-base-product .prdList .thumbnail .likeButton {
   border: 1px solid #00f; /*테삭*/
   position: absolute; /* 기준요소 설정 필요 */
   left: 4%;
   top: 4%;
   width: 40px;
   height: 40px;
   /* like 텍스와 count숫자가 수평수직을 가운데 정렬로 하기 위해 */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.ec-base-product .prdList .thumbnail .likeButton button {
   background-color: transparent;
   border: none;
}
.ec-base-product .prdList .thumbnail .likeButton img {
   display: none; /* likebutton 기능 요구  1번 */
}
.ec-base-product .prdList .thumbnail .likeButton strong {
   display: block;
   cursor: pointer;
   font-weight: normal; /* strong 태그가 갖고있는 굵기를 제거*/
}

/* 
<div class="icon__box">
<span class="wish">
  <img src="/web/upload/icon_202201241816315200.png">
  wish
</span>
<span class="cart">
  <img src="/web/upload/icon_202201241812549900.png">
  cart
</span>
<span class="option">
  <a onclick="optionPreview(this,'listmain-1',23,'T')" "="">
    <img src=" /web/upload/icon_202201241816160100.png">
    option

*/
.ec-base-product .prdList .icon__box {
   border: 1px solid #0f0;
   position: absolute; /*기준요소 확인 필요  .ec-base-product .prdList .thumbnail  */
   left: 0;
   top: 50%;
   transform: translate(
      0,
      -50%
   ); /*position: absolute;에서 수직가운데 정렬하는 방법 */
   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 100%;
}
.ec-base-product .prdList .icon__box > span {
   display: block;
   position: relative; /* .ec-base-product .prdList .icon__box > span img{}의 기준요소 */
   border: 1px solid #999;
   font-weight: 500px;
   padding: 10px 15px;
   margin: 0 4px;
   background-color: rgba(255, 255, 255, 0.5);
   border-radius: 10px;
}
.ec-base-product .prdList .icon__box > span.wish {
}
.ec-base-product .prdList .icon__box > span.cart {
}
.ec-base-product .prdList .icon__box > span.option {
}
.ec-base-product .prdList .icon__box > span img {
   position: absolute; /*기준요소 확인 필요 */
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
}
.ec-base-product .prdList .icon__box > span.wish img {
}
.ec-base-product .prdList .icon__box > span.cart img {
}
.ec-base-product .prdList .icon__box > span.option img {
}
